body
{
    background: url(clock.png) no-repeat;
    background-position-x: -3%;
    background-position-y: 115%;

}

div, p
{
    display: inline-block;
    font-family: sans-serif;
}

body
{
    background-color: #3d3d3d;
    font-family: 'Satisfy', cursive;
}

h1
{
    font-size: 30px;
}

section
{
    padding: 1%;
    margin-top: 5%;
    border: 1.5px black solid;
    border-radius: 30px;
    font-size: 50px;
    width: 250px;
    height: 400px;
    color: white;
    background-color: #2b2b2b;
}

button
{
    display: block;
    margin-left: 5px;
    margin: 3%;
    background-color: #dbaf0f;
    color: #3d3d3d;
    border-radius: 50px;
    padding: 2%;
    font-size: 20px;
    border: none;
    width: 100px;
}

button:hover
{
    
    border: 2px white solid;
}

#start:hover
{
    background-color: #8bf74d;
    color: white; 
}

#btn2:hover
{
    background-color: #f74471;
    color: white; 
}

#reset:hover
{
    background-color: #5bc0fa;
    color: white; 
}

h1
{
    text-align: center;
}

footer
{
    text-align: center;
    margin-top: 15%;
    color: white;
    font-family: sans-serif;
}

@media screen and (max-width: 450px) {
body
{
    background-size: 75%;
    background-position-y: 105%;
}

section
{
    margin-top: 20%;
}

footer
{
    margin-top: 45%;
}
    
}